# Bot token and application ID.
# https://discord.com/developers/applications
TOKEN=XXXXXXXXXXXXXXXXXXX
APP_ID=000000000000000000

# Bot owner.
OWNER_ID=000000000000000000
# Server used for testing purposes.
TEST_GUILD_ID=000000000000000000
