# Application ID and bot token.
# https://discord.com/developers/applications
APP_ID=000000000000000000
BOT_TOKEN=XXXXXXXXXXXXXXX

# Bot owner ID.
BOT_OWNER_ID=000000000000000000
# Server used for testing purposes.
TEST_GUILD_ID=000000000000000000
